<div class="navbar">
	<div class="nav-container">
		<div class="nav-top">
			<div class="nav-top-right">
				<a href="#" class="account">
					<span class="fa fa-user icon"></span>
					Your Account
				</a>
				<a href="#" class="nav-wishlist">
					<span class="fa fa-heart icon"></span>
					Wishlist ( <span class="wishlist-count"></span> )
				</a>
				<a href="#" class="cart">
					<span class="cart-icon"></span>
					Your Cart ( 0 )
				</a>
			</div>
		</div>
		<a href="/" class="nav-logo">
			<img src="/images/logos/logo.svg">
		</a>
	</div>
	<div class="navbar-links"></div>
</div>
