<div class="navbar">
	<div class="nav-container">
		<div class="nav-top">
			<div class="nav-top-right">
				<a href="#">
					<span class="account">
						<span class="fa fa-user icon"></span>
						Your Account
					</span>
				</a>
				<a href="#">
					<span class="wishlist">
						<span class="fa fa-heart icon"></span>
						Wishlist
					</span>
				</a>
				<a href="#">
					<span class="cart">
						<span class="cart-icon"></span>
						Your Cart ( 0 )
					</span>
				</a>
			</div>
		</div>
		<a href="#" class="nav-logo">
			<img src="/images/logos/logo.svg">
		</a>
	</div>
	<div class="navbar-links"></div>
</div>