{{> head}}

<div id="page-product" class="page-wrap">
    <div class="container">
        <div class="breadcrumb">
            <i class="fa fa-caret-left"></i> {{ product.category }} / {{ product.name }}
        </div>
    </div>
    <div class="add-to-wishlist-message">
        <div class="message">
            This item ( 1 ) has been added to your wishlist
        </div>
        <div class="btn-container">
            <a class="browse" href="/">
                <i class="fa fa-chevron-left"></i>
                Keep Browsing
            </a>
            <a href="#" class="view-wishlist wishlist">
                View Wishlist
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="single-product">
            <div class="product-image">
                <img class="" src="/images/products/{{ product.image }}">
            </div>
            <div class="product-info">
                <h1 class="title">
                    {{ product.name }}
                </h1>
                <div class="by-label">
                    {{ product.label }} by Ties.com
                </div>
                <div class="price">
                    <!-- Don't have correct font -->
                    ${{ product.price }}
                </div>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="mobile-product-image">
                    <img class="" src="/images/products/{{ product.image }}">
                </div>
                <div class="action-container">
                    <div class="shipping">
                        FREE SHIPPING IN THE USA*
                    </div>
                    <button id="add-to-cart">Add to Cart</button>
                    <button id="add-to-wishlist" data-id="{{ product.id }}">
                        <i class="fa fa-heart"></i>
                        <span class="text">Add to Wishlist</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}