{{> head}}

<div id="page-cart" class="page-wrap">
    <div class="container">
        <div class="header">Your Shopping Cart</div>
        <div class="wishlist-widget">
            <div class="widget-title">
                Items From Your Wishlist
            </div>
            <div class="widget-products">
                <div class="error-message">No Products in Your Wishlist</div>
                <div class="product-list"></div>
            </div>
        </div>
    </div>
</div>

{{> footer}}