@import "variables";
@import "navbar";
@import "promo";
@import "footer";

// Global Styling

body {
  color: #212121;
  font-family: nexa-regular, sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}