@import "variables";
@import "navbar";
@import "promo";
@import "footer";

// Global Styling

* {
    box-sizing: border-box;
}

body {
  color: #212121;
  font-family: nexa-regular, sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

button {
  font-family: nexa-slab-bold, sans-serif;
  outline: none;
}

.container {
  margin: auto;
  max-width: 1600px;
  padding:  0 4%;
}

.page-wrap {
  padding: 6% 0;

  @media($min-sm) {
    padding: 4% 0;
  }
}