.navbar {
  .nav-container {
    padding: 10px 4% 15px;

    .nav-top {
      width: 100%;

      .nav-top-right {
        display: inline-block;
        float: right;

        a {
          color: $dark-grey;
          text-decoration: none;
          margin-left: 16px;

          .cart-icon {
            background: url('../../../images/icons/cart_icon_2018_01.png') center center no-repeat;
            background-size: contain;
            display: inline-block;
            height: 14px;
            vertical-align: top;
            width: 14px;
          }
        }
      }
    }

    .nav-logo {
      display: block;
      margin: auto;
      max-width: 200px;
      padding-top: 5px;

      img {
        height: auto;
        max-width: 200px;
      }
    }
  }

  .navbar-links {
    height: 35px;
    border-top: solid $grey-border 1px;
    border-bottom: solid $grey-border 1px;
  }
}