// Global Variables

// Colors
$blue:            #00b6cf;
$btn-grey:        #ededed;
$dark-grey:       #212121;
$font-grey:       #b9b9b9;
$grey-border:     #d4d4d4;
$hover-blue:      #00bfd9;
$icon-grey:       #666666;
$label-dark-grey: #303030;
$navy:            #2d333c;
$panel-grey:      #f5f5f5;
$red:             #d61d33;

// Other
$inner-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.3),
                   inset 0 -7px 9px -7px rgba(0,0,0,0.3);

// Fonts
@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome.woff2') format('woff2');
}

@font-face {
  font-family: 'nexa-slab-bold';
  src: url('../../fonts/nexa-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'nexa-regular';
  src: url('../../fonts/nexa-regular.woff2') format('woff2');
}

// Media Queries
$min-xl: 'min-width: 1440px';
$min-lg: 'min-width: 1000px';
$min-md: 'min-width: 769px';
$min-sm: 'min-width: 500px';