// Global Variables

// Colors
$blue:            #00b6cf;
$btn-grey:        #ededed;
$dark-grey:       #212121;
$font-grey:       #b9b9b9;
$hover-blue:      #00bfd9;
$grey-border:     #d4d4d4;
$icon-grey:       #666666;
$label-dark-grey: #303030;
$panel-grey:      #f5f5f5;

// Other
$box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.3),
             inset 0 -7px 9px -7px rgba(0,0,0,0.3);
$radius-lg:  6px;
$radius-md:  5px;

// Fonts
@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome.woff2') format('woff2');
}

@font-face {
  font-family: 'nexa-slab-bold';
  src: url('../../fonts/nexa-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'nexa-regular';
  src: url('../../fonts/nexa-regular.woff2') format('woff2');
}

// Media Queries
